/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('./KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('./KFOlCnqEu92Fr1MmEU9fBBc4.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --primary: #C849F4;
  --background: #353535;
  --text: #E3E3E3;
  --font: 'Roboto', sans-serif;
}
.snackbar {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  &.top, &.bottom {
    transform: translateX(-50%);
    left: 50%;
    &-left {
      left: 1rem;
    }
    &-right {
      right: 1rem;
    }
  }
  &[class*="bottom"] {
    bottom: 1rem;
  }
  &[class*="top"] {
    top: 1rem;
  }
  padding: 1rem;
  border-radius: 4px;
}
.snackbar .snackbar__text {
  flex: 1;
}
.snackbar .snackbar__action {
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 1rem;
  color: var(--primary);
  cursor: pointer;
  user-select: none;
}

.snack-enter-active, .snack-leave-active {
  transition: all .4s ease;
}
.snack-enter, .snack-leave-to {
  opacity: 0;
  &.bottom {
    transform: translateY(100%) translateX(-50%);
  }
  &.top {
    transform: translateY(-100%) translateX(-50%);
  }
  &[class*="-left"] {
    transform: translateX(-50%);
  }
  &[class*="-right"] {
    transform: translateX(50%);
  }
}
