.snackbar {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  &.top, &.bottom {
    transform: translateX(-50%);
    left: 50%;
    &-left {
      left: 1rem;
    }
    &-right {
      right: 1rem;
    }
  }
  &[class*="bottom"] {
    bottom: 1rem;
  }
  &[class*="top"] {
    top: 1rem;
  }
  padding: 1rem;
  border-radius: 4px;
}
.snackbar .snackbar__text {
  flex: 1;
}
.snackbar .snackbar__action {
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 1rem;
  color: var(--primary);
  cursor: pointer;
  user-select: none;
}

.snack-enter-active, .snack-leave-active {
  transition: all .4s ease;
}
.snack-enter, .snack-leave-to {
  opacity: 0;
  &.bottom {
    transform: translateY(100%) translateX(-50%);
  }
  &.top {
    transform: translateY(-100%) translateX(-50%);
  }
  &[class*="-left"] {
    transform: translateX(-50%);
  }
  &[class*="-right"] {
    transform: translateX(50%);
  }
}
